@model SNShop.Models.UserLoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 style="color:red; text-align:center; margin-top: 10px">ĐĂNG NHẬP</h1>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input data-val="true" data-val-required="Bạn phải nhập tài khoản email" class="form-control" id="Email" name="Email" type="text" value="">
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input data-val="true" data-val-required="Bạn phải nhập mật khẩu" class="form-control" id="Password" name="Password" type="password">
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Đăng nhập" class="btn btn-danger" />
                <a class="btn btn-primary" href="/Account/LoginFacebook">
                    <i class="fa-brands fa-square-facebook"></i>
                    Đăng nhập bằng Facebook
                </a>
            </div>
        </div>
    </div>
}