
@{
    ViewBag.Title = "Tables";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="myTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Address</th>
                            <th>Phone number</th>
                            <th>Joined date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.UserList)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Username</td>
                                <td>@item.Email</td>
                                <td>@item.Address</td>
                                <td>@item.PhoneNumber</td>
                                <td>@item.ModifiedDate</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>