@model SNShop.Models.SubCategory

@{
    ViewBag.Title = "Details_SubCategories";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết danh mục con</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

    </dl>
</div>
<p>
    <a class="btn btn-warning" href="@Url.Action("Edit_SubCategories","SubCategory", new { id = Model.Id })">Edit</a> |
    <a class="btn btn-primary" href="@Url.Action("List_SubCategories","SubCategory")">Back to List</a>
</p>
