@using PagedList.Mvc;
@using PagedList;
@model IPagedList<SNShop.Models.Product>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<div class="sub_category_menu">
    <ul>
        @foreach (var subitem in ViewBag.SubCategory)
        {
            <li class="item">
                <a class="sub_item" href="#">@subitem.Name</a>
            </li>
        }
    </ul>
</div>
<div class="dropdown pull-right">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        Lọc sản phẩm
    </button>
    <ul class="dropdown-menu">
        <li>
            @Html.ActionLink("Tên sản phẩm", "ProductOfCategory", new { sortOrder = ViewBag.SortByName })
        </li>
        <li>
            @Html.ActionLink("Đơn giá", "ProductOfCategory", new { sortOrder = ViewBag.SortByPrice })
        </li>
        <li>
            @Html.ActionLink("Ngày thêm", "ProductOfCategory", new { sortOrder = ViewBag.SortByDate })
        </li>
    </ul>
</div>
<div class="section group">
    @foreach (var item in Model)
    {
        <div class="grid_1_of_4 images_1_of_4">
            <a href="@Url.Action("Detail", new { id = item.Id })"><img src="/asset/client/images/slide-2-image.jpg" alt="" /></a>
            <h2>@item.Name </h2>
            <div class="price-details">
                <div class="price-number" style="width:100%">
                    <p style="font-size:15px; padding:0;margin:0;"><span class="rupees" style="color:red">@String.Format("{0:0,0}", @item.Price)&#8363;</span></p>
                </div>
                <div class="add-cart" style="float:none">
                    <h4><a href="@Url.Action("Detail","Home", new { id = item.Id })">Xem chi tiết</a></h4>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    }
</div>
<br />
    Trang @(Model.PageCount < Model.PageNumber ? 0: Model.PageNumber) / @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("ProductOfCategory",
    new { page = page, sortOrder = ViewBag.CurrentSortOrder }), PagedListRenderOptions.PageNumbersOnly)
