@model SNShop.Models.ProductImage

@{
    ViewBag.Title = "Create_Product_Image";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Thêm ảnh sản phẩm</h2>
<h3 class="text-danger">@ViewBag.UploadStatus</h3>
<h3 class="text-danger">@ViewData["loi"]</h3>
<h4 class="text-danger">@ViewBag.ProductName</h4>
@using (Html.BeginForm("Create_Product_Image", "ProductImage", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        @foreach (var item in ViewBag.Images)
        {
        <div class="form-group">
            <div class="col-md-2">
                <img src="@item.Thumbnail_Photo" name="Image" id="Image" width="250" height="250" />
            </div>
        </div>
        }
    </div>
    <h4 class="text-danger">Chỉ chọn ảnh có đuôi file là .png hoặc .jpg</h4>
    <div class="form-horizontal">
        <input name="Files" type="file" accept="image/*" id="Files" multiple required />
        <div class="form-group" style="margin-top:10px">
            <div class="col-md-offset-2">
                <input type="submit" value="Thêm ảnh" class="btn btn-success" autocomplete="off" multiple />
                <a class="btn btn-primary" style="margin-left:5px" href="@Url.Action("List_Products","Product")">Back to list</a>
                <a class="btn btn-info" style="margin-left:5px" href="@Url.Action("List_Product_Image","ProductImage")">Back to image list</a>
            </div>
        </div>
    </div>
}