@model SNShop.Models.ProductImage

@{
    ViewBag.Title = "Edit_Product_Image";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Sửa ảnh sản phẩm</h2>
<h3 class="text-danger">@ViewBag.UploadStatus</h3>
<h3 class="text-danger">@ViewData["loi"]</h3>
@using (Html.BeginForm("Edit_Product_Image", "ProductImage", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.ProductID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input class="form-control" name="@Model.ProductID" value="@Model.Product.Name" readonly/>
                @Html.ValidationMessageFor(model => model.ProductID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Thumbnail_Photo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <img src="@Model.Thumbnail_Photo" name="Thumbnail_Photo" id="Thumbnail_Photo" width="250" height="250" />
                @Html.ValidationMessageFor(model => model.Thumbnail_Photo, "", new { @class = "text-danger" })
            </div>
        </div>
        <h4 class="text-danger">Chỉ chọn ảnh có đuôi file là .png hoặc .jpg</h4>
        <div class="form-horizontal">
            <input name="File" type="file" accept="image/*" id="File" required />
            <div class="form-group" style="margin-top:10px">
                <div class="col-md-offset-2">
                    <input type="submit" value="Thay đổi ảnh" class="btn btn-danger" autocomplete="off" />
                    <a class="btn btn-primary" style="margin-left:5px" href="@Url.Action("List_Product_Image","ProductImage")">Back to list</a>
                </div>
            </div>
        </div>
    </div>
}