@model SNShop.Models.Order

@{
    ViewBag.Title = "Details_Orders";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết đơn đặt hàng cần duyệt</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.User.Truename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.User.Truename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.User.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.User.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

    </dl>
</div>
<p>
    <a class="btn btn-danger" href="@Url.Action("List_Orders_Approved","Order")">Back to list</a>
</p>
