@model IEnumerable<SNShop.Models.Product>

@{
    ViewBag.Title = "List_Product";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách sản phẩm</h2>
<div style="display:flex; justify-content:space-between">
    <a class="btn btn-primary" href="@Url.Action("Create_Product","Product")">Tạo mới</a>
    <a class="btn btn-danger" onclick="DeleteAllProduct()">Delete All</a>
</div>
<h3 class="text-danger">@ViewData["loi"]</h3>
<style>
    table {
        display: block;
        overflow-x: auto;
        overflow-y: auto;
        height: 400px;
        white-space: nowrap;
    }

    td.tool {
        width: 20rem;
        right: 0;
        position: sticky;
        top: auto;
    }
</style>

    <table class="table table-bordered" id="myTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrandID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PIN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Screen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RAM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Design)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VGA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityPerUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitsInStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitsOnOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discontinued)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Release)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th>
                Chức năng
            </th>
        </tr>
    </thead>

    <tbody id="body">
        @foreach (var item in Model)
        {
            <tr id="Product_@item.Id">
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CPU)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PIN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Screen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RAM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Design)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VGA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuantityPerUnit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitsInStock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitsOnOrder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discontinued)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Release)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedDate)
                </td>
                <td class="tool">
                    <a class="btn btn-success" href="@Url.Action("Create_Product_Image","ProductImage", new { id = item.Id })">Image</a>
                    <a class="btn btn-warning" href="@Url.Action("Edit_Product","Product", new { id = item.Id })">Edit</a>
                    <a class="btn btn-info" href="@Url.Action("Details_Product","Product", new { id = item.Id })">Details</a>
                    <a class="btn btn-danger" onclick="DeleteProduct(@item.Id), changIndex()">Delete</a>
                </td>
            </tr>
        }
    </tbody>

</table>
