
@{
    ViewBag.Title = "Comment_Rule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="help-main">

    <div data-html-id="1072">
        <h3 style="text-align: center;"><strong>QUY ĐỊNH ĐĂNG BÌNH LUẬN TRÊN WEBSITE SNSHOP</strong></h3>
        <h3>&nbsp;</h3>
        <h3><strong>1. Về nội dung bình luận</strong></h3>
        <p><a title="SNSHOP" href="@Url.Action("Index", "Home")" target="_blank" rel="noopener">SNSHOP</a> không đảm bảo về độ chính xác, độ vẹn toàn, tính hữu dụng,... của thông tin đăng tải trong phần bình luận.</p>
        <p>Các thành viên phải chịu trách nhiệm về sự phán đoán của mình khi sử dụng thông tin bình luận. Chúng tôi không chịu trách nhiệm về bất kỳ tổn hại phát sinh nào từ những thông tin bình luận đăng trên SNSHOP, hay những vấn đề phát sinh tranh chấp giữa các thành viên.</p>
        <h3><strong>2. Việc sử dụng thông tin đăng trên bảng bình luận</strong></h3>
        <p>Chúng tôi không chấp nhận việc sao chép, sử dụng các thông tin ghi trên bảng bình luận của<a title="SNSHOP" href="@Url.Action("Index", "Home")" target="_blank" rel="noopener"> SNSHOP</a> khi không có sự đồng ý của công ty chúng tôi.</p>
        <p>Sau khi người bình luận đăng tải thông tin lên <a title="thegioididong.com" href="@Url.Action("Index", "Home")" target="_blank" rel="noopener">SNSHOP</a>, công ty chúng tôi hoặc những tổ chức cá nhân được sự đồng ý của công ty chúng tôi có thể sử dụng nguồn thông tin này miễn phí. (Đăng lên tạp chí, copy, công bố rộng rãi, xuất bản, in ấn, dịch, soạn lại,...).</p>
        <h3><strong>3. Việc xóa thông tin bình luận</strong></h3>
        <p>Hiện tại mục bình luận trên website <a title="thegioididong.com" href="@Url.Action("Index", "Home")" target="_blank" rel="noopener">SNSHOP</a>&nbsp;đang là sân chơi khá thú vị cho khách hàng được thỏa đam mê tìm hiểu sản phẩm và nêu lên cảm nghĩ cá nhân mình, tuy nhiên để tạo một hệ thống thông tin có trật tự, giúp ích tốt nhất đến cho người sử dụng, chúng tôi có thể xóa những thông tin có những nội dung liên quan như sau:</p>
        <p>- Thông tin bình luận không được kiểm chứng, không được xác thực.</p>
        <p>- Thông tin viết giống nhau lặp đi lặp lại.</p>
        <p>- Thông tin không liên quan gì đến nội dung của sản phẩm, dịch vụ cần bình luận.</p>
        <p>- Những dòng lệnh lập trình có hại.</p>
        <p>- Thông tin xâm hại đến quyền lợi hoặc đời tư của người khác.</p>
        <p>- Thông tin mang tính bài xích, gây tổn thương đến người khác.</p>
        <p>- Thông tin có liên quan đến các hành vi tội phạm.</p>
        <p>- Nhưng thông tin vi phạm đạo đức, thuần phong mỹ tục của Việt Nam và các nước khác.</p>
        <p>- Thông tin có liên quan đến những việc nguy hiểm.</p>
        <p>- Thông tin mang tính trục lợi, thương mại cá nhân, tuyên truyền quảng cáo.</p>
        <p>- Thông tin liên quan đến chính trị, tôn giáo</p>
        <p>- Đặt tên hoặc bình luận không rõ nội dung.</p>
        <p>- Thông tin ảnh hưởng đến công việc kinh doanh của SNSHOP.</p>
        <p>- Những thông tin khác mà công ty chúng tôi cho rằng không hợp lý khi đăng tải lên SNSHOP.</p>
        <p><em>(Trường hợp khách hàng vẫn đăng những thông tin như trên SNSHOP sẽ <strong>khóa quyền bình luận</strong> của khách lại để tập trung phục vụ những bình luận có nội dung phù hợp, mong quý khách thông cảm và lưu ý để tránh trường hợp phát sinh). </em></p>
        <p>Trong quá trình quản lý, kinh doanh <a title="SNSHOP" href="@Url.Action("Index", "Home")" target="_blank" rel="noopener">SNSHOP</a> chúng tôi có thể xóa những thông tin không đồng nhất với những điều trên. Những quy định về quản lý bảng thông tin bình luận chúng tôi sẽ thay đổi khi cần thiết để phù hợp với tình hình thực tế, quy định mới sẽ có hiệu lực kể từ khi được đăng tải lên <a title="thegioididong.com" href="https://SNSHOP/" target="_blank" rel="noopener">SNSHOP</a>. Rất mong được sự ủng hộ của các thành viên tham gia.</p>
        <p><strong>Xin trân trọng cảm ơn!</strong></p>
    </div>

    <div class="clearfix"></div>

</div>
