@*@model IEnumerable<SNShop.Models.Product>*@
@using PagedList.Mvc;
@using PagedList;
@model PagedList.IPagedList<SNShop.Models.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section slide
{

    <div class="header_slide">
        <div class="header_bottom_left">
            <div class="categories">
                <ul style="padding-left:0px">
                    <li><h3>DANH MỤC SẢN PHẨM</h3></li>

                    @foreach (var item in ViewBag.Category)
                    {
                        <li class="dropright">
                            <a href="@Url.Action("ProductOfCategory", "Category", new { Id = item.Id })">@item.Name</a>
                        </li>                       
                    }
                </ul>
            </div>
        </div>
        <div class="header_bottom_right" style="position:relative">
            <div id="slides" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#slides" data-slide-to="0" class="active"></li>
                    <li data-target="#slides" data-slide-to="1"></li>
                    <li data-target="#slides" data-slide-to="2"></li>
                    <li data-target="#slides" data-slide-to="3"></li>
                    <li data-target="#slides" data-slide-to="4"></li>
                    <li data-target="#slides" data-slide-to="5"></li>
                    <li data-target="#slides" data-slide-to="6"></li>
                    <li data-target="#slides" data-slide-to="7"></li>
                    <li data-target="#slides" data-slide-to="8"></li>
                    <li data-target="#slides" data-slide-to="9"></li>
                    <li data-target="#slides" data-slide-to="10"></li>
                    <li data-target="#slides" data-slide-to="11"></li>
                    <li data-target="#slides" data-slide-to="12"></li>
                    <li data-target="#slides" data-slide-to="13"></li>
                    <li data-target="#slides" data-slide-to="14"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="#">
                            <img class="d-block w-100" src="//theme.hstatic.net/1000026716/1000440777/14/slideshow_1.jpg?v=28503" alt="...">
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="#">
                            <img class="d-block w-100" src="//theme.hstatic.net/1000026716/1000440777/14/slideshow_2.jpg?v=28503" alt="...">
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="#">
                            <img class="d-block w-100" src="//theme.hstatic.net/1000026716/1000440777/14/slideshow_3.jpg?v=28503" alt="...">
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="#">
                            <img class="d-block w-100" src="//theme.hstatic.net/1000026716/1000440777/14/slideshow_4.jpg?v=28503" alt="...">
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="#">
                            <img class="d-block w-100" src="//theme.hstatic.net/1000026716/1000440777/14/slideshow_5.jpg?v=28503" alt="...">
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="#">
                            <img class="d-block w-100" src="//theme.hstatic.net/1000026716/1000440777/14/slideshow_6.jpg?v=28503" alt="...">
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="#">
                            <img class="d-block w-100" src="//theme.hstatic.net/1000026716/1000440777/14/slideshow_7.jpg?v=28503" alt="...">
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="#">
                            <img class="d-block w-100" src="//theme.hstatic.net/1000026716/1000440777/14/slideshow_8.jpg?v=28503" alt="...">
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="#">
                            <img class="d-block w-100" src="//theme.hstatic.net/1000026716/1000440777/14/slideshow_9.jpg?v=28503" alt="...">
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="#">
                            <img class="d-block w-100" src="//theme.hstatic.net/1000026716/1000440777/14/slideshow_10.jpg?v=28503" alt="...">
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="#">
                            <img class="d-block w-100" src="//theme.hstatic.net/1000026716/1000440777/14/slideshow_11.jpg?v=28503" alt="...">
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="#">
                            <img class="d-block w-100" src="//theme.hstatic.net/1000026716/1000440777/14/slideshow_12.jpg?v=28503" alt="...">
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="#">
                            <img class="d-block w-100" src="//theme.hstatic.net/1000026716/1000440777/14/slideshow_13.jpg?v=28503" alt="...">
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="#">
                            <img class="d-block w-100" src="//theme.hstatic.net/1000026716/1000440777/14/slideshow_14.jpg?v=28503" alt="...">
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="#">
                            <img class="d-block w-100" src="//theme.hstatic.net/1000026716/1000440777/14/slideshow_15.jpg?v=28503" alt="...">
                        </a>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#slides" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#slides" role="button" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>

            </div>

            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
}

<div class="content">
    <div class="content_top">
        <div class="heading">
            <h3 style="font-family:Arial; font-weight:bold; text-align:center">Sản phẩm hiện có</h3>
        </div>

        <div class="clear"></div>
    </div>
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            Lọc sản phẩm
        </button>
        <ul class="dropdown-menu">
            <li>
                @Html.ActionLink("Tên sản phẩm", "Index", new { sortOrder = ViewBag.SortByName })
            </li>
            <li>
                @Html.ActionLink("Đơn giá", "Index", new { sortOrder = ViewBag.SortByPrice })
            </li>
            <li>
                @Html.ActionLink("Ngày thêm", "Index", new { sortOrder = ViewBag.SortByDate })
            </li>
        </ul>
    </div>
    <div class="section group">
        @foreach (var item in Model)
        {
            <div class="grid_1_of_4 images_1_of_4">
                <a href="@Url.Action("Detail", new { id = item.Id })"><img src="/asset/client/images/slide-2-image.jpg" alt="" /></a>
                <h2>@item.Name </h2>
                <div class="price-details">
                    <div class="price-number" style="width:100%">
                        <p style="font-size:15px; padding:0;margin:0;"><span class="rupees" style="color:red">@String.Format("{0:0,0}", item.Price)&#8363;</span></p>
                    </div>
                    <div class="add-cart" style="float:none; margin:0">
                        <a class="button" style="background-color:red ;text-decoration: none; color: white; padding:7px; cursor: pointer" onclick="addCart(@item.Id, '@item.Name', @item.Price)">Thêm vào giỏ hàng</a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        }
    </div>
    <br />
</div>
    Trang @(Model.PageCount < Model.PageNumber ? 0: Model.PageNumber) / @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page = page, SearchString = ViewBag.CurrentFilter, sortOrder = ViewBag.CurrentSortOrder }), PagedListRenderOptions.PageNumbersOnly)
